@import 'lms/static/sass/partials/base/variables';

$blue: rgb(0, 121, 188);
$orange: rgb(242, 142, 36);

$uxpl-blue-base: rgb(0, 117, 180); // wcag2a compliant

$active-color: $orange !default;

$m-orange: $orange;  // uxpl blue base
$m-orange-s1: rgb(96, 188, 97);
$m-orange-l1: tint($m-orange, 20%);
$m-orange-l2: tint($m-orange, 40%);
$m-orange-l3: tint($m-orange, 60%);
$m-orange-l4: tint($m-orange, 90%);
$m-orange-l5: tint($m-orange, 95%);
$m-orange-d1: shade($m-orange, 20%);
$m-orange-d2: $orange;
$m-orange-d3: ligthen($m-orange, 60%);
$m-orange-d4: ligthen($m-orange, 70%);
$m-orange-t0: rgba($m-orange, .125);
$m-orange-t1: rgba($m-orange, .25);
$m-orange-t2: rgba($m-orange, .50);
$m-orange-t3: rgba($m-orange, .75);

// action - primary
$action-primary-bg: $m-orange-d3 !default;
$action-primary-shadow: $m-orange-d4 !default;
$action-primary-focused-bg: $m-orange-d1 !default;
$action-primary-active-bg: $m-orange !default;
$action-primary-active-fg: $m-orange-d3 !default;
$action-primary-active-shadow: $m-orange-d2 !default;
$action-primary-active-focused-fg: $m-orange-d4 !default;
$action-primary-active-focused-shadow: $m-orange-d3 !default;

// courseware elements
$courseware-border-bottom-color: $orange !default;
$courseware-hover-color: rgb(51,52,53) !default;
$courseware-navigation-color: $orange !default;

// actions - misc
$link-color: $orange !default;
$link-hover: $m-orange-l1 !default;
$button-color: $orange !default;
