@font-face {
  font-family: "gotham-light";
  src: url("//assets.craftacademy.se/fonts/gotham-light-webfont.eot");
  src: url("//assets.craftacademy.se/fonts/gotham-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//assets.craftacademy.se/fonts/gotham-light-webfont.woff")
      format("woff"),
    url("//assets.craftacademy.se/fonts/gotham-light-webfont.ttf")
      format("truetype"),
    url("//assets.craftacademy.se/fonts/gotham-light-webfont.svg#linea-arrows-10")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gotham-medium";
  src: url("//assets.craftacademy.se/fonts/gotham-medium-webfont.eot");
  src: url("//assets.craftacademy.se/fonts/gotham-medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("//assets.craftacademy.se/fonts/gotham-medium-webfont.woff")
      format("woff"),
    url("//assets.craftacademy.se/fonts/gotham-medium-webfont.ttf")
      format("truetype"),
    url("//assets.craftacademy.se/fonts/gotham-medium-webfont.svg#linea-arrows-10")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

$ca-header-font-family: "gotham-medium", "Helvetica Neue", "Helvetica", "Roboto",
  "Arial", sans-serif !important;
$ca-font-family: "gotham-light", "Helvetica Neue", "Helvetica", "Roboto",
  "Arial", sans-serif !important;
