h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gotham-medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  font-weight: 500 !important;
  color: #f28e24 !important;
  margin: 0 0 1.5rem !important;
}

.course-info .course-sidebar .important-dates li .important-dates-item-title {
  color: #646464;
  float: left;
}

footer#footer-edx-v3 p {
  font-size: 14px;
  line-height: 20.72px;
}

.article li,
.article p,
li,
p {
  margin: 0 0 1.5rem;
  font-family: "gotham-light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  font-size: 16px;
  line-height: 1.5rem;
}

.header-global {
  border-bottom: 2px solid transparent;

  h1.logo img {
    max-height: 40px;
    width: auto;
  }
}

.home > header {
  background: url('https://assets.craftacademy.se/images/backgrounds/splash_3.jpg');
  background-position: 50%;
  background-size: cover;

  .outer-wrapper {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  .title {
    background: transparent;
    box-shadow: none;
    margin-left: 0;

    > .heading-group h1 {
      color: $white;
      text-shadow: none;
    }

    > .heading-group p {
      color: $white;
    }
  }
}

.wrapper-footer {
  p {
    font-size: 0.9em;
  }
}

.courses-container .courses .course {
  border-bottom: 3px solid #f28e24;
}

.intro-inner-wrapper > .table > .intro > .heading-group {
  h1 > button {
    display: none;
  }
}

.course-info header.course-profile {
  background-image: url("https://assets.craftacademy.se/images/backgrounds/splash_3.jpg");
}

.course-info header.course-profile .intro-inner-wrapper {
  border: none;
  box-shadow: none;
}

.nav-colophon,
.nav-legal > ul > li:last-child {
  display: none;
}
