body,
html {
  font-family: "gotham-medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  font-size: 1.1rem;
  font-style: normal;
  line-height: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "gotham-medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  color: #f28e24 !important;
  margin: 0 0 1.5rem !important;
}

.btn {
  font-family: "gotham-medium", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
}

.header-global .user .user-dropdown-menu li > a {
  border: 1px solid transparent;
  /* border-radius: 3px; */
  color: #0075b4;
  cursor: pointer;
  display: block;
  margin: 20px 0;
  text-overflow: ellipsis;
  transition: padding 0.15s linear 0s;
  white-space: nowrap;
  width: 100%;
  line-height: 0.5 !important;
}

.course-info .course-sidebar .important-dates li .important-dates-item-title {
  color: #646464;
  float: left;
}

footer#footer-edx-v3 p {
  font-size: 14px;
  line-height: 20.72px;
}

.article li,
.article p,
li,
p {
  margin: 0 0 1.5rem;
  font-family: "gotham-light", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !important;
  font-size: 16px;
  line-height: 1.5rem;
}

.header-global {
  border-bottom: 2px solid transparent;

  h1.logo img {
    max-height: 40px;
    width: auto;
  }
}

.home > header {
  background: url('https://assets.craftacademy.se/images/backgrounds/splash_3.jpg');
  background-position: 50%;
  background-size: cover;

  .outer-wrapper {
    padding-bottom: 150px;
    padding-top: 150px;
  }

  .title {
    background: transparent;
    box-shadow: none;
    margin-left: 0;

    > .heading-group h1 {
      color: $white !important;
      text-shadow: none;
    }

    > .heading-group p {
      color: $white !important;
    }
  }
}

.wrapper-footer {
  p {
    font-size: 0.9em;
  }
}

.courses-container .courses .course {
  border-bottom: 3px solid #f28e24;
}

.intro-inner-wrapper > .table > .intro > .heading-group {
  h1 > button {
    display: none;
  }
}

.course-info header.course-profile {
  background-image: url("https://assets.craftacademy.se/images/backgrounds/splash_3.jpg");
}

.course-info header.course-profile .intro-inner-wrapper {
  border: none;
  box-shadow: none;
}

.nav-colophon,
.nav-legal > ul > li:last-child {
  display: none;
}