// Import the core Sass file Open edX
@import "lms/static/sass/lms-main-v1";

// Import our custom overrides
@import "overrides";

body {
  font-family: $ca-font-family;
}

:root {
  --font-family: $ca-font-family;
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
