// Import the core Sass file Open edX
@import "lms/static/sass/lms-course";

// Import our custom overrides
@import "overrides";

html,
button,
input,
select,
textarea,
form#wiki_revision .CodeMirror {
  font-family: $ca-font-family;
  color: #222;
}

.pagination .page-divider,
.view-student-notes .title-search-container .wrapper-title .page-title,
.view-teams .page-header .page-title,
.course-wrapper .course-content .proctored-exam-skip-confirm-wrapper .msg-title,
.course-wrapper
  .courseware-results-wrapper
  .proctored-exam-skip-confirm-wrapper
  .msg-title,
.view-teams .card .card-title,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-settings
  .form-title,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-edit
  .form-title,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-header
  .title-value,
.dashboard-search-results .search-info h2,
.view-student-notes .placeholder-title,
.course-index .accordion .course-navigation .button-chapter .group-heading,
.home .page-header-secondary .last-accessed-link,
div.info-wrapper section.handouts .handouts-header,
.view-student-notes .note-group .course-title,
.view-student-notes .note-group .tags-title,
.view-teams .create-team legend,
.view-teams .team-actions .title,
.idash-section .message-title,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-add
  .form-title,
.view-student-notes .wrapper-tabs .tab-list .tabs-label,
.idash-section .subsection-title,
.wrapper-course-material .course-tabs .tab a,
.wrapper-course-material .course-tabs .tab a:visited,
.xmodule_display.xmodule_VideoModule
  .video
  .video-wrapper
  .video-controls
  .control,
.xmodule_display.xmodule_VideoModule
  .video
  .video-wrapper
  .video-controls
  .vcr
  .vidtime,
.content-wrapper .course-license,
.content-wrapper .xblock-license,
.view-student-notes
  .title-search-container
  .wrapper-title
  .page-title
  .page-subtitle,
.view-student-notes .note-group .course-subtitle,
.idash-section .section-title .description,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-settings
  .form-fields
  .label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-edit
  .form-fields
  .label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-add
  .form-fields
  .label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .file-upload-form
  .form-fields
  .label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-settings
  .form-fields
  .form-label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-edit
  .form-fields
  .form-label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-add
  .form-fields
  .form-label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .file-upload-form
  .form-fields
  .form-label,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-header
  .group-count,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-add
  .message-title,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-file-upload
  .message-title,
.nav-utilities .action-toggle-message,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-comments
  .note-comment
  .note-comment-title,
.view-student-notes
  .note-group
  .note
  .reference
  .wrapper-reference-content
  .reference-title,
div.info-wrapper section.updates > ol > li .date,
div.info-wrapper section.updates > ol article .date,
div.info-wrapper section.updates section > li .date,
div.info-wrapper section.updates section article .date,
div.info-wrapper section.updates div > li .date,
div.info-wrapper section.updates div article .date,
div.info-wrapper section.updates > ol > li .toggle-visibility-button,
div.info-wrapper section.updates > ol article .toggle-visibility-button,
div.info-wrapper section.updates section > li .toggle-visibility-button,
div.info-wrapper section.updates section article .toggle-visibility-button,
div.info-wrapper section.updates div > li .toggle-visibility-button,
div.info-wrapper section.updates div article .toggle-visibility-button {
  font-family: $ca-font-family;
}

.pattern-library-shim .alert-copy,
.pattern-library-shim .alert-copy-with-title,
.proctored_exam_status .exam-timer .exam-button-turn-in-exam,
.proctored_exam_status .exam-timer .exam-timer-clock #toggle_timer,
.course-wrapper
  .course-content
  div.timed-exam
  .exam-action-button.btn-pl-primary,
.course-wrapper
  .course-content
  div.proctored-exam
  .exam-action-button.btn-pl-primary,
.course-wrapper
  .courseware-results-wrapper
  div.timed-exam
  .exam-action-button.btn-pl-primary,
.course-wrapper
  .courseware-results-wrapper
  div.proctored-exam
  .exam-action-button.btn-pl-primary,
div.info-wrapper section.updates > ol .show-older-updates,
div.info-wrapper section.updates section .show-older-updates,
div.info-wrapper section.updates div .show-older-updates,
.btn-secondary,
.view-teams .card .card-actions .action-view,
.pagination .current-page,
.pagination .page-number-input,
.pagination .total-pages,
.course-wrapper .course-content div.timed-exam button.gated-sequence,
.course-wrapper .course-content div.proctored-exam button.gated-sequence,
.course-wrapper
  .courseware-results-wrapper
  div.timed-exam
  button.gated-sequence,
.course-wrapper
  .courseware-results-wrapper
  div.proctored-exam
  button.gated-sequence,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-excerpt
  .note-excerpt-p,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-excerpt
  .note-excerpt-ul,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-excerpt
  .note-excerpt-ol,
.view-teams .create-team .form-field .input-text,
.view-teams .create-team .form-field .input-select,
.instructor-dashboard-content-2 .instructor-nav .nav-item,
.view-student-notes #no-results-panel p,
.listing-tools,
.listing-tools .listing-sort-select,
.course-wrapper .course-content .path,
.course-wrapper .courseware-results-wrapper .path,
.course-index .accordion,
.annotator-notice,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-excerpt-more-link,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-comments
  .note-comment
  .note-comment-p,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-comments
  .note-comment
  .note-comment-ul,
.view-student-notes
  .note-group
  .note
  .wrapper-note-excerpts
  .note-comments
  .note-comment
  .note-comment-ol,
.view-student-notes .note-group .note .reference,
.view-student-notes .placeholder-copy,
.view-teams .page-header .page-description,
.view-teams .breadcrumbs,
.view-teams .card .card-description,
.view-teams .card .wrapper-card-meta,
.view-teams .team-profile .page-content-secondary,
.view-teams .create-team .description,
.view-teams .create-team .form-field .tip,
.view-teams .join-team-message,
.teams-content
  .teams-main
  .team-edit-fields
  .team-required-fields
  .u-field.u-field-description
  .u-field-footer
  .u-field-message,
.idash-section .message-copy,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .label,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management-ccx
  .auth-list-container
  .member-list-widget
  .label,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .form-label,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management-ccx
  .auth-list-container
  .member-list-widget
  .form-label,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list
  th,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management-ccx
  .auth-list-container
  .member-list-widget
  .member-list
  th,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management
  .auth-list-container
  .member-list-widget
  .member-list
  td,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .member-lists-management-ccx
  .auth-list-container
  .member-list-widget
  .member-list
  td,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-settings
  .form-fields
  .tip,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-edit
  .form-fields
  .tip,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-add
  .form-fields
  .tip,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .file-upload-form
  .form-fields
  .tip,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-settings
  .form-cancel,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-edit
  .form-cancel,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-add
  .form-cancel,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .file-upload-form
  .form-cancel,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-setup,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-group-add
  .form-introduction,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .toggle-cohort-management-secondary,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .toggle-cohort-management-discussions,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-file-upload
  .form-introduction,
.instructor-dashboard-wrapper-2
  section.idash-section#cohort_management
  .cohort-management-supplemental,
.instructor-dashboard-wrapper-2
  section.idash-section#discussions_management
  .discussions-management-supplemental,
.wrap-instructor-info .instructor-info-action,
.edx-notes-visibility .edx-notes-visibility-error,
.view-teams .card .card-type,
.view-teams .card.has-pennant .pennant,
.instructor-dashboard-wrapper-2
  section.idash-section#membership
  .enroll-option
  .hint,
.instructor-dashboard-wrapper-2
  section.idash-section#certificates
  .white-listed-students
  table
  th,
.instructor-dashboard-wrapper-2
  section.idash-section#certificates
  .invalidation-history
  table
  th,
.search-results .search-results-item .search-results-ellipsis,
.view-teams .action {
  font-family: $ca-font-family;
}
