<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms and Conditions")}</%block>
<style>
    p {
        color: grey;
        margin: 10px 10px 10px 10px;
        font-size: 14px;
    }

    li {
        color: grey;
        font-size: 14px;
    }

    h1, h2, h3 {
        text-transform: uppercase !important;
    }

</style>


<section class="static-container honor">
    <h1>${_("Terms and Conditions")}</h1>
    <h3>Background</h3>
    <p>
        Craft Academy (run by Pragmatic Sweden AB (559027-5002) Holtermansgatan 1D, 411 29 Gothenburg, Sweden)
        (below “Craft Academy”) is an educational platform for education of computer programming through teacher-led
        courses (“Courses”) which also works in tight connection with the industry in order to be able to create job
        opportunities for all students accepted to Craft Academy for education (“Students”).
    </p>
    <h3>Applicability</h3>
    <p>
        These General Terms and Conditions are referred to herein as the “Terms” and apply to all Students.
    </p>
    <p>
        The acceptance of these Terms is a prerequisite in order to at all be able to take part in any Course and they
        supersede any individual arrangement that may be made explicitly or implicitly between you and Craft Academy.
    </p>
    <p>
        Additional conditions other than those provided in these Terms may apply to certain Courses and will in such
        case be provided to you in connection with the Course for which they are to apply. Such additional conditions
        shall be considered to be an integral part of these Terms. Supplemental terms provided in writing to you by
        Craft Academy shall prevail over these Terms in the event of a conflict between the conditions.
    </p>
    <p>
        Craft Academy has the sole right to at any time amend, supplement or terminate these Terms. Any such made
        changes to these Terms will be immediately effective after being posted at the same location on the website as
        these Terms.
    </p>
    <h3>The education</h3>
    <p>
        The regular Course consists of a twelve weeks fast-paced and intensive programming “bootcamp”, where you as a
        Student are required to take active part in the education in order to maximize your personal outcome and put
        serious effort into learning to program and to develop your programming skills.
    </p>
    <p>
        You should be prepared that the Course generally requires more time than 8 hours of studies a day and that for
        the best outcome you will have to devote yourself to the education during the Course period. The Education
        requires that you are able to work individually as well as in teams.
    </p>
    <h3>Course content and structure</h3>
    <p>
        No previous programming skills are necessary in order to partake in a Course, although a basic understanding of
        programming and basic computer skills are needed. Craft Academy may therefore, at its discretion, require you to
        complete a pre-course prior to the start of the regular Course (see further information on this below under the
        section “Pre-course”).
        Each regular Course lasts for 12 calendar weeks (including Swedish bank holidays) and education is provided in
        class at site Mondays to Fridays (except for during bank holidays). Students may after agreement with Craft
        Academy partake in a Course partly from distance. However, it is strongly recommended that you partake
        physically for best results and some of the Course elements require physical presence.
    </p>
    <p>
        Courses are held in English or when appropriate in Swedish (only when all Students are Swedish speaking). The
        course contains elements of teacher-led education, individual and team-based workshops, self-tuition, problem
        solving, writing of software etc. The Course is ended with a workshop where the Students are required to create
        a functioning application or other software that could be used in the marketplace (the “Final Project”).
        However, the content, structure and methods used in each Course are subject to a constant process of review and
        improvement. This means that the Course that you attend may not be identical to previous Courses, and whilst it
        will be materially the same, it may not be identical to that described on the Craft Academy website or otherwise
        in Craft Academy marketing materials. The curriculum of the course is presented to you not later than on the
        commencement of the Course. As the course continuously evolves, the curriculum applied in the Course may also
        change from time to time and deviate from what has been presented to you earlier on the website or in other
        marketing materials.
    </p>
    <p>
        Course materials and literature will be provided during the Course. You will need a portable computer that meets
        the minimum requirements of Craft Academy in order to partake in the Course. If you are uncertain of whether
        your computer meets the requirements, please contact Craft Academy prior to registering. It is your obligation
        to ensure that your computer meets the requirements and can be used in the Course.
    </p>
    <p>
        Deviations from the above general content and structure may apply for certain special Courses provided by Craft
        Academy. Structure and content for such Courses is provided separately to the Students. These Terms apply in all
        applicable parts also to such Courses.
    </p>
    <h4>Prep-course</h4>
    <p>
        The prep-course will be provided at no additional cost to Students and is intended to ensure that each Student
        is suitable to participate in the regular Course.
    </p>
    <p>
        Each pre-course will last for approximately 15 hours per week for four weeks prior to the commencement of the
        regular Course.
    </p>
    <p>
        If a Student fails to complete the pre-course, or Craft Academy reasonably determines that the Student is not
        suitable to participate in the regular Course (including if the Student does not pass any final technical test
        set by Craft Academy), the Student shall not be permitted to participate in the regular Course. The Student
        shall in such case not be entitled to a refund of any pre-paid deposit but shall be entitled to a full refund of
        any other course fees already paid.
    </p>
    <h3>Expectations</h3>
    <p>
        You are chosen as a Student to the Course on certain selection criteria, based on an assessment of your
        possibilities to succeed well in the Course, meaning that Craft Academy has high expectations on your results
        during the Course and that you will put your best effort into learning. Craft Academy’s goal is to be able to as
        soon as possible after a finalized Course be able to, through its hiring partners or otherwise, facilitate the
        process of finding a job for you related to the content learned in a Course (see more about this below under the
        section “Hiring partner collaborations”).
    </p>
    <h3>Conduct</h3>
    <p>
        Craft Academy sets high standards into the education and its promise of educational quality to its Students.
        In that lies a promise towards the Students to provide Courses and an education environment that is free
        from nuisance and where you have the full possibilities to succeed in your education. Craft Academy is a
        tolerant environment that welcomes people of all backgrounds, nationalities, gender and of any opinion.
        However, Craft Academy does not tolerate racism, sexism, bullying, hateful behavior, political or religious
        propaganda or other improper or disrespectful behavior and requires that every Student behaves professionally,
        respectfully and with the highest ethical standards with regard to other Students, the teachers of Craft
        Academy,
        or in any other external relations when representing Craft Academy or the education.
    </p>
    <p></p>
    Further to the above, when partaking in a Course, you agree to not
    <ul>
        <li>damage any property belonging to Craft Academy, other Students or present at the premises,</li>
        <li>cause nuisance, impair collaboration with or between other Students, disturbe the possibilities to provide a
            high quality education, or in any other way show serious disruptive behavior,
        </li>
        <li>impair the proper operation of any networks used during the Course,</li>
        <li>license, sublicense, sell, transfer, or in any way distribute or commercialize educational materials, parts
            thereof or other content provided by Craft Academy during the Course or to modify or make derivative works
            based upon such materials or content or remove any copyright or other proprietary notices contained in the
            content, material or information,
        </li>
        <li>launch any automated program or script on or from the networks used, including, but not limited to, web
            robots, web ants, web spiders, web crawlers, web indexers, web robots, bots, viruses or worms, or any
            program which may make multiple server requests per second, or unduly burdens or hinders the operation
            and/or performance of any network where applicable,
        </li>
        <li>send or store material containing software viruses, trojan horses, worms, or other harmful computer code,
            scripts, files, agents or programs via used networks,
        </li>
        <li>on or from the network send spam or otherwise duplicative or unsolicited messages in violation of applicable
            laws,
        </li>
        <li>attempt to gain unauthorized access to parts of the premises that are unauthorized, or</li>
        <li>try to harm Craft Academy, it’s brand, it’s teachers, fellow Students or Services in any other way
            whatsoever.
        </li>
    </ul>
    <p>
        Students are further to the above required to comply with all rules and regulations of Craft Academy (including
        these Terms) or the premises in which Craft Academy Courses are held.
    </p>
    <h3>Suspension/Exclusion</h3>
    <p>
        If you do not respect the obligations set out in these Terms, Craft Academy reserves the right to suspend or
        exclude you from a Course without the right of receiving any refund on the fees for the Course.
    </p>
    <p>
        Before any suspension or exclusion, Craft Academy is obliged to first initiate a discussion with you informing
        you of the issues at hand and providing a written warning to you that repeated breach may cause suspension or
        exclusion. Only after such warning is not heeded, Craft Academy will have the right to suspend or exclude you
        from a Course.
        You also hereby guarantee that you will put all necessary effort into the Education in order to obtain good
        results. If, despite the careful selection process for the Education, Craft Academy finds after undertaking a
        thorough investigation that you are failing to keep up with the demands of the Course, and after consulting with
        you decide that you will not likely successfully complete the Course, Craft Academy reserves the right to
        require you to leave the Course. Provided Craft Academy makes the assessment that you have made a good faith
        effort to succeed on the Course, you will be refunded a pro-rata amount of the Course fees paid (based on the
        number of full weeks of the course remaining after you were required to leave).
    </p>
    <h3>Fees</h3>
    <h4>Deposits</h4>
    <p>
        All Students must pay a non-refundable deposit to secure their place on a Course. The deposit is payable upon
        online registration or at any other later stage decided by Craft Academy before the Course starts and will be
        deducted from the total Course fee. Craft Academy operates a “first come first served” policy so once you have
        paid your deposit we will reserve a place for you on our next available Course (subject to your payment of the
        Course fees in accordance with these Terms).
    </p>
    <h4>Types of fees</h4>
    <p>
        All fees are available on Craft Academy’s website and/or otherwise in other marketing material provided by Craft
        Academy and are subject to change. However, Craft Academy is not entitled to raise the price for Courses for
        Students that have already registered for the Course.
    </p>
    <p>
        Students can currently choose one of four possible payment options as described below:
    </p>
    <h5>1. The standard payment option</h5>
    <p>
        You pay the full fee for the Course (with deduction for already paid deposits) so that the payment is received
        by Craft Academy not later than 14 days prior to commencement of the Course.
    </p>
    <h5>2. Full payment at registration with 10 % discount</h5>
    <p>
        You pay the full Course fee immediately (deposit included) upon your online registration, which will entitle you
        to a 10 % discount of the total Course Fee and which will be deducted immediately.
    </p>
    <h5>3. 90 % discount of the Course fee by granting exclusive recruitment rights to Craft Academy</h5>
    <p>
        You only pay 10 % of the Course fee in the form of the deposit (as described above). By choosing this option you
        exclusively grant Craft Academy the right to find you a job through Craft Academy’s partnership network during a
        period of one year after a completed Course. This means that if you during that time will get employed at a
        company, work as a consultant or in your own company in full, part or in any other way with matters related to
        programming or any other related skills areas learned in the Course, you will breach your exclusivity commitment
        herein and you will have to pay the remaining 90 % of the Course not paid. Such payment shall be considered due
        immediately and shall not be received by Craft Academy later than one week after commencement of any such work
        described above.
    </p>
    <p>
        You are obliged to notify Craft Academy immediately in writing in case of breach or anticipated breach of your
        exclusivity commitment. Failure to do so will entitle Craft Academy to an additional penalty fee as stated in
        the price list available on the website.
    </p>
    <h5>4. Monthly payment option</h5>
    <p>
        Craft Academy offers a monthly payment plan through a financial third party provider. By choosing this option
        you will spread out the payment of the Course fee, including the deposit, over a longer period in time. The time
        and the conditions for repayment are chosen by you when you register for the Course and choose your payment
        option.
    </p>
    <p>
        Choosing this option will add costs to the Course fee due to fees added by the financial third party provider in
        accordance with the price list presented by Craft Academy and the provider. By choosing this option you will
        also be bound by the conditions of the financial third party provider directly and enter into an agreement
        regarding payment with such third party, in which Craft Academy will not be a party. Any payments shall in such
        cases be made directly to such party instead of Craft Academy, unless otherwise specifically instructed to you
        in writing by Craft Academy.
    </p>
    <h4>Payments</h4>
    <p>
        Payment shall be made online via payment services that are provided by Craft Academy via a third party provider
        or to Craft Academy’s nominated bank account as specified by Craft Academy, unless the Student chooses a monthly
        payment plan through a financial third party provider where any payment method specified by such party shall
        apply instead.
    </p>
    <h4>Delayed payments</h4>
    <p>
        If payments are not made in time, Craft Academy may decide that you will lose your place on the Course and any
        made advance payment will then be irrevocably lost and non-refundable.
    </p>
    <p>
        In case of late payments, Craft Academy is entitled to interest and administrative fees in accordance with
        applicable laws. In case of monthly payment plans, further delay or collection fees from Craft Academy’s
        financial provider may also apply.
    </p>
    <h4>Refunds</h4>
    <p>
        Notwithstanding what option of payment that is chosen by you, by commencing as a Student to the Course, the
        entire Course fee is considered accrued to Craft Academy even if a certain part of the fee is outstanding due to
        a payment plan option, meaning that you will not be refunded the Course fee if you are suspended or excluded
        from the Course pursuant to these Terms. Furthermore, if you fail to complete a Course due to any other reason
        than stated in these Terms, Craft Academy reserves the right, in its sole discretion, to charge you the full
        amount of the outstanding fees immediately following confirmation that you will not be completing the Course. In
        exceptional circumstances Craft Academy may, in its sole discretion, agree to waive payment of part or all of
        the outstanding fees.
    </p>
    <p>
        You may only be refunded the Course fee provided the Course in which you are enrolled is cancelled (whether
        prior to the course commencing, or after its commencement) by Craft Academy, in which case any Course fee that
        has been paid by you will be refunded in full. If a Course is temporarily suspended for a period of less than
        one month no course fees will be refunded. If a Course is suspended for a period longer than one month Students
        enrolled on that Course will be given the option of continuing the Course when it resumes or receiving a
        pro-rata refund of Course fees for the suspended part of the Course (based on the number of full weeks of the
        Course that was suspended, as a percentage of the total number of course weeks).
    </p>
    <h3>Right to study</h3>
    <p>
        You must have the right to study in Sweden under applicable rules and hold an applicable and valid where
        necessary. As a general rule you will not need a visa if you hold a passport issued by any country in the EU or
        the European Economic Area (EEA). International Students are required to upon registration for a Course produce
        a passport, visa and/or any other related documentation necessary for studying or staying in Sweden. Craft
        Academy may, at its sole discretion, reject an application for enrolment in a Course if Craft Academy considers
        that the documentation does not fulfill applicable legal requirements.
    </p>
    <p>
        Please note that Craft Academy is not currently an accredited institution for the purposes of the “student
        visitor” category.
    </p>
    <h3>Hiring partner collaborations</h3>
    <p>
        As part of the Course, Craft Academy will continuously work in tight connection with the industry and hiring
        partners in order to facilitate possibilities for you to get hired as soon as possible (if wanted) after a
        finished Course. Such collaborations may include lunchtime talks, workshops, participations by the partners in
        the Course and other possibilities to meet and network with the partners and the industry. You are urged to take
        the opportunity to interact with the partners as much as possible during such opportunities in order to show
        your skills and present yourself. Craft Academy will be of your assistance in order to help you leverage from
        such opportunities.
    </p>
    <p>
        As part of the collaborations with hiring partners, Craft Academy may from time to time present job
        opportunities to you offered by the partners or any other third parties (and/or introduce you to those third
        parties). Craft Academy is not responsible or liable for any matters relating to those third parties or job
        opportunities, and you must undertake your own due diligence before accepting an offer of employment from any
        such party.
    </p>
    <h3>Complaints</h3>
    <p>
        If you are not satisfied with any aspect of Craft Academy or a Course, whether it is the Course content,
        curriculum, schedule, premises, fellow Students behavior or any other issue, you should first raise the matter
        with the relevant Course tutor/coach. If a discussion or correspondence with the relevant Course tutor/coach
        does not satisfactorily resolve your concern, or if you do not feel that you are able to raise the concern with
        the Course tutor/coach (for example because it relates to such person’s personal performance) the complaint
        shall be raised with the CEO of Pragmatic Sweden AB (info@craftacademy.se) and/or the head coach on site.
    </p>
    <h3>Intellectual Property and materials</h3>
    <p>
        Rights to any materials and Intellectual Property that is generated by the Student during the Course (including
        the “Final Project”) is hereby transferred in full to Craft Academy, including but not limited to the right to
        make changes and modifications thereof as well as the right to further transfer, license, market, sell or
        otherwise distribute such materials and rights to any third party. Intellectual Property in this regard means
        all code, source code, computer program, application, technical solutions, inventions, trade marks, trade names,
        logos, domain names and the rights thereto such as copyrights, design rights, database rights, trade secrets,
        know-how and other intellectual property rights, including, where any such rights are obtained or enhanced by
        registration, all registrations of such rights and applications and rights to apply for such registrations, in
        any jurisdiction. You are granted a limited, royalty-free, global, non-exclusive, irrevocable, perpetual license
        to only use such materials and Intellectual Property for personal and non-commercial use.
    </p>
    <p>
        You retain ownership to all content submitted by you to Craft Academy during the Course such as text, files,
        images, photos, videos or other works of authorship. You warrant that such content does not infringe on any
        third party rights and will indemnify and hold Craft Academy harmless from all damages and costs in case of
        infringements of third party rights. You hereby grant Craft academy a global, non-exclusive, irrevocable,
        perpetual, royalty-free license to use such content in Craft Academy marketing and sales, including without
        limitation the right to publicly perform, reproduce, display, modify, manage, distribute and store any of such
        content as part of the website or as part of any materials used to promote or advertise Craft Academy anywhere
        in the world.
    </p>
    <p>
        Craft Academy may film, photograph or record you as part of the creation of marketing, educational or other
        content (“Promotional Content”) to promote or publicize Craft Academy or for other purposes and may permit other
        companies to carry out similar projects.
    </p>
    <p>
        You hereby agree that the Intellectual Property rights in respect of any Promotional Content are hereby
        transferred in full to Craft Academy and you grant all necessary consents that may be required under any
        legislation or regulation in any jurisdiction to permit the Promotional Content or any part of it to be
        exhibited or otherwise exploited by all means and in all media and formats in perpetuity, distributed and
        transferred to another party. The aforementioned gives Craft Academy a right to, without limiting the said,
        alter, adapt or make additions to or deletions from the Promotional Content (and your appearance therein) at
        Craft Academy’s discretion, make, exploit and authorize the making and exploitation of any recording or fixation
        of your appearance separately from or in conjunction with the Promotional Content by all means, dub your voice
        in any language, and/or include your name, likeness, voice, biographical details, photographs of you and
        recordings of interviews with you separately from or in conjunction with the Promotional Content by all means.
        The stated rights shall apply for all media and formats without cost, perpetually and on a global level.
    </p>
    <p>
        You confirm that you do not have any right to fees or remuneration and that you shall not seek to enforce any
        rights whatsoever to remuneration or fees in respect of Promotional Content.
    </p>
    <h3>Certain consumer rights</h3>
    <p>
        If you are a consumer according to the Swedish Distance and Off-premises Contracts act (Distansavtalslagen
        2005:59) you may have certain mandatory rights that deviate from these Terms and where such rules in such cases
        shall have precedence before these Terms.
        As part of the said legislation, you as a consumer have a right to cancel a registration for a Course where you
        have registered online. In order for such cancellation to be valid, you have to inform Craft Academy in writing
        not later than 14 days after made Course registration online via any contact point published on the website.
        There is a cancellation form available at
        <a href="http://publikationer.konsumentverket.se/sv/publikationer/regler/2angerblankett.html">KONSUMENTVERKET</a>
        that may be used for this if wanted but is not necessary. If you have a payment plan through a third party
        provider, a made cancellation to such party will also automatically cancel your agreement with Craft Academy.
    </p>
    <p>
        If cancellation is made within the said period, you will be entitled to repayment of any made payments which
        will be made to you within 14 days after Craft Academy has received your notification. Refunds will be made on
        the credit card, debit card or bank account used by you to pay for the Course.
    </p>
    <p>
        The above stated cancellation right is not applicable in cases where you have already enrolled in and started
        the Course.
    </p>
    <p>
        In case of a dispute you as a consumer have the possibility to, before initiating a dispute in accordance with
        the dispute conditions in these Terms, direct the dispute to Allmänna Reklamationsnämnden in order to obtain a
        recommendation of the outcome of the dispute.
    </p>
    <h3>Disclaimer</h3>
    <p>
        Even if Craft Academy aims to deliver the highest quality in its education and aims to produce top Students, The
        Courses are provided "as is" and Craft Academy disclaims all representations and warranties, implied or express,
        with regard to any results from taking a Course. Craft Academy cannot be made responsible for any actions or
        services performed by any third party providers (such as financial third party providers, landlords, payment
        service providers, hiring partners etc) that may negatively impair your experience of the Course. Craft academy
        does not assess the suitability, legality or ability of any third party providers and you expressly waive and
        release Craft Academy from all liability, claims or damages arising from, or that are in any way related to any
        third party providers. Craft Academy will not be a party to disputes or negotiations between you and such third
        party providers.
    </p>
    <p>
        Further to the above, Craft Academy shall not be liable for indirect, incidental, special, exemplary, punitive,
        or consequential damages, including personal injury, lost profits, or property damage related to, in connection
        with, or otherwise resulting from the participation in a Course. Also, Craft Academy shall not be liable for any
        damages, losses, costs or liability arising out of your use of knowledge or skills gained from any Course. Craft
        Academy shall neither be liable for failure in performance or delay with regards to a Course resulting from
        causes beyond Craft Academy’s reasonable control (force majeure). In no event shall Craft Academy’s total
        liability to you in connection with a Course exceed the obligation of repayment of already paid Course fees. The
        limitations and disclaimer in these Terms do not purport to limit liability or alter your rights as a consumer
        that cannot be excluded under applicable law (see more under the section “Certain consumer rights” above).
        While Craft Academy endeavors to update and ensure that the information contained in the Courses, on the website
        or in other marketing material is correct, Craft Academy makes no representations, warranties or guarantees,
        whether express or implied, as to the accuracy, completeness, currency or reliability of any of them.
    </p>
    <h3>Miscellaneous</h3>
    <p>
        You may not assign or delegate or otherwise deal with all or any of your rights or obligations under these
        Terms. Craft Academy shall have the right to assign or otherwise delegate all or any of its rights or
        obligations under these Terms to any person.
    </p>
    <p>
        If Craft Academy fails to insist that you perform any of your obligations under these Terms, or if Craft Academy
        does not enforce its rights against you, or delay in doing so, that will not mean that Craft Academy has waived
        its rights against you and will not mean that you do not have to comply with those obligations. If Craft Academy
        does waive a default by you, it will only be made in writing, and that will not mean that any later default by
        you is thereby automatically waived.
    </p>
    <h3>Applicable law and disputes</h3>
    <p>
        Any dispute arising between you and Craft Academy is governed by Swedish law and shall, provided you agree
        thereupon, be settled through on-line arbitration administered by Swiftcourt on www.swiftcourt.se in accordance
        with the Swedish law on arbitration applicable at all times. If you do not agree to solve the dispute through
        Swiftcourt, it shall instead be resolved in general Swedish courts.
    </p>
</section>